*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", Arial;
  font-size: 24px;
  color: #0D3351;
}
body{
  background-color: #f3f3f3;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
  justify-content: center;
}

h1{
  margin: 11px 0 0 0;
  font-family: Roboto Slab;
  font-size: 100px;
  font-weight: normal;
}
h2{
  margin: 6px 0 0 0;
  font-family: Roboto Slab;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1.8px;
}
h6{
  font-family: Roboto Slab;
  font-size: 18px;
  line-height: 42px;
  color: #00A2DD;
}
p{
  font-family: Raleway;
  font-size: 14px;
  line-height: 24px;
}
.price{
  font-family: Roboto Slab;
  font-size: 30px;
  line-height: 48px;
  color: #0D3351;
}
.oldprice{
  font-family: Roboto Slab;
  font-size: 18px;
  text-align: center;
  text-decoration-line: line-through;
  color: #0D3351;
  opacity: 0.54;
}
/*buttons*/

.btn{
  align-self: center;
  margin: 32px 0 0 0;
  padding: 16px 50px;
  display: inline-block;
  vertical-align: middle;
  background-color: #33C7FD;  
  color: #FFFFFF;
  font-family: Raleway;  
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

#btnmore{
  margin: 13px 0 0 28px;
}

/*header*/

header{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 99;
}
.header-wrap{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menushka > a{
  background-image: url(img/menu.png) ;
  display: block;
  height: 16px;
  width: 22px;
  position: relative;
}
.dropdown{
  position: absolute;
  /* width: 420px; */
  width: 0;
  height: 410px;
  overflow: hidden;
  background-color: #0D3351; 
}
.menushka-dropdown{
  display: block;
  margin: 65px 0 0 45px;
  list-style: none;
}
.dropdown li{  
  font-size: 18px;
  margin: 0 0 29px 0;
}
.dropdown a{  
  text-decoration: none;
  font-family: Roboto Slab;
  font-size: 18px;
  color: #FFFFFF;
}
.top-menu{
  margin-left: auto;
}
.menu{
  list-style: none;
  display: flex;
}
.menu_item{
  margin-left: 35px;
  padding-left: 15px;
}
#cabinet{
  background-image: url(img/human.png) ;
  background-repeat: no-repeat;
  background-position-y: 11px;
}
#valuta{
  background-image: url(img/P.png) ;
  background-repeat: no-repeat;
  background-position-y: 11px;
}
.menu_item .menu_link{
  padding-right: 14px;
  background-image: url(img/arrow.png);
  background-repeat: no-repeat;
  background-position-y: 6px;
  background-position-x: right;
}
.menu_item .menu_link{
  text-decoration: none;
  font-family: Raleway;
  font-size: 14px;
  text-align: center;
}

.sitemap a{
  text-decoration: none;
  font-family: Raleway;
  font-size: 14px;
  text-align: center;
}

.header-right{
  display: block;
  width: 129px;
  margin: 0 0px 0 40px;
}


.number{
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}
.support{
  font-family: Raleway;
  font-size: 10px;
  text-align: left;
}

/*banner*/

.banner{
  padding-top: 85px;
  height: 563px;
  text-align: center;
  background: url(img/Bg1.png) no-repeat center top;
}
.banner-wrap{
  display: flex;
  flex-direction: column;
}
.banner-wrap img{
  align-self: center;
}

/*main*/

.catal{
  margin-top: 116px;
}
.sort{
  display: flex;
  justify-content: center;
  margin-top: 11px;
  margin-bottom: 34px;  
}
.sort a{
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.hit-discounts{
  display: flex;
  align-content: center;
}
.cruise{
  display: flex;
  align-content: center;
}
.flag1,
.flag2{ 
  position: absolute;
  width: 90px;
  height: 101px;
  right: 45px;
  top: -9px;
  background-repeat: no-repeat;
}
.flag1{
  background-image: url(img/tag1.png);
}
.flag2{
  background-image: url(img/tag2.png);
}
.flag1 span,
.flag2 span{
  margin-top: 30px;
  display: block;

  font-family: Raleway;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #FFFFFF;
}
.topic{    
  padding: 0px 0px 30px 20px;
}

/*advise*/
.advise-wrapper{
  position: relative;
  background-color: #FFFFFF;
  margin: 10px 15px;
}

#main3{
  margin: 39px 14px 0px 15px;
}

.detail{
  display: none;
}

/* Popup */

.popup-wrapper{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  left: 0px;
  top: 0px;
}
.popup .detail{
  display: block;
}
.fotos-preview img{
  width: 82px;
  height: 58px;
  margin: 2px;
}
.fotos-preview img:first-child{
  margin-left: 0px;
}
.fotos-preview img:last-child{
  margin-right: 0px;
}

.popup{
  position: relative;
  overflow: hidden;
  width: 840px;
  height: 690px;
  background-color: #FFFFFF;  
}
.card{
  display: flex;
  margin: 116px 52px 85px 48px;
}
.lenta{
  margin: 60px;
  display: flex;
  flex-direction: row;
  width: 5000px;
  position: relative;
  left: -10px;
}
#closebtn{
  position: absolute;
  display: block;
  right: 15px;
  cursor: pointer;
}
#lenta > div{  
  display: flex;
  flex-direction: row;
  margin: 113px 0 0 49px;  
}
#lenta .foto > img{
  width: 358px;
  height: 240px;
}

#lenta .topic{
  display: flex;
  flex-direction: column;
}
.disc{
  width: 360px;
}
#lenta .topic a{
  align-self: start;
}

/*footer*/

footer{
  min-height: 50px;
  padding: 29px 0 42px 0;
  font-size: 14px;
  background-color: #FFFFFF;
  font-family: Raleway;
  font-size: 14px;
}
.footer-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitemap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social{
  margin-right: auto;
  margin-left: 140px;
}
.footer-right{
  display: block;
  width: 150px;
}
.copyright{
  float: right;
  padding-top: 20px;
  font-size: 12px;
}